body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(238, 236, 232);
}

div.header {
  height: 150px;
  background-color: rgb(14, 38, 77);
}

body {
  overflow: scroll;
}

div.about {
  
  background-color: rgb(255, 255, 255);
  width: 100%;
  border: solid cadetblue;
  border-width: 15px;
  padding: 10px;
  
}

.center {
  text-align: center;
  padding: 10px;
}

div.col-10 {
  height: 150px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  font-size: xx-large;
}

#welcome {
  background-color: rgb(10, 24, 59);
  display: inline;
}

#about {
  background-color: rgb(63, 62, 138);
}

a {
  transition: 2s;
}

a:hover {
  width: 200px;
}

#art {
  background-color: rgb(143, 88, 129);
}

#ed {
  background-color: rgb(223, 165, 142);
}

#void {
  background-color: rgb(233, 222, 196);
  height: 250px;
}

h3 {
  text-align: center;
  color: rgb(206, 114, 114);
  font-weight: bolder;
}

.thumb {
  object-fit: cover;
  width: 50%;
  height: 50%;
  border-radius: 30%;
}

.sidebar {
  height: 850px;
  width: 250px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(49, 51, 56);
  overflow: hidden;
  padding: 20px;
}

#roundpic {
  display: block;
  border-radius: 50%;
  float: right;
  padding: 15px;
  margin-left: 10%;
}

.whitet {
  color: aliceblue;
  font-weight: 700;
}



div.item {
  width: fit-content;
  vertical-align: top;
  text-align: center;
  float: right;
  padding: 10px;
  color: rgb(231, 231, 231);
}

#self {
  height: 250px;
  width: 250px;
  float: right;
}

img#round {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.right {
  float: right;
}
}

.caption {
  display: block;
}

body {
 background-image: url('img/2-forest.jpg');
 background-size: cover;
}