body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(238, 236, 232);
}

div.header {
  height: 150px;
  background-color: rgb(14, 38, 77);
}

body {
  overflow: scroll;
}

div.about {
  
  background-color: rgb(255, 255, 255);
  width: 100%;
  border: solid cadetblue;
  border-width: 15px;
  padding: 10px;
  
}

.center {
  text-align: center;
  padding: 10px;
}

div.col-10 {
  height: 150px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  font-size: xx-large;
}



#welcome {
  background-color: rgb(10, 24, 59);
  display: inline;
}

#about {
  background-color: rgb(63, 62, 138);
}

a {
  transition: 2s;
}

#art {
  background-color: rgb(143, 88, 129);
}

#ed {
  background-color: rgb(223, 165, 142);
}

#void {
  background-color: rgb(233, 222, 196);
  height: 250px;
}

h3 {
  text-align: center;
  color: rgb(206, 114, 114);
  font-weight: bolder;
}

.thumb {
  object-fit: cover;
  width: 50%;
  height: 50%;
  border-radius: 30%;
}

.sidebar {
  height: 850px;
  width: 250px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(49, 51, 56);
  overflow: hidden;
  padding: 20px;
}

#roundpic {
  display: block;
  border-radius: 50%;
  float: right;
  padding: 15px;
  margin-left: 10%;
}

.whitet {
  color: aliceblue;
  font-weight: 700;
}



div.item {
  width: fit-content;
  vertical-align: top;
  text-align: center;
  float: right;
  padding: 10px;
  color: rgb(231, 231, 231);
}

#self {
  height: 250px;
  width: 250px;
  float: right;
}

img#round {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.right {
  float: right;
}
}

.caption {
  display: block;
}

body.art {
  background-image: url("../img/zigzag.png");
  background-size: cover;
}


.container {
  padding: 5px;
  color: rgb(0, 0, 0);
  border: solid;
  border-color: lightcoral;
  border-width: 15px;
}

#outside {
  background-color: bisque;
  border: solid;
  border-color: coral;
  border-width: 25px;
}

#outoutside {
  background-color: bisque;
  border: solid;
  border-color: rgb(231, 88, 70);
  border-width: 35px;
}

#outoutoutside {
  background-color: rgb(218, 190, 156);
  border: solid;
  border-color: rgb(156, 48, 48);
  border-width: 45px;
}

#artwall {
  border: solid coral;
  width: 50%;
  padding: 10px;
  margin: auto;
  background-color: darkcyan;
  font-size: xx-large;
  text-emphasis: bold;
}

p.blurb {
  float:right
}

.card {
  box-shadow: 0 6px 8px 0 rgba(11, 13, 26, 0.2);
  transition: 0.2s;
